@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">

    <div class="col-sm-3">
        <label>Filter By Vendor</label>
        <select class="form-control select2-dropdown">
        </select>
    </div>
    <div class="col-sm-3 offset-1">
        <label>Filter By Status</label>
        <select class="form-control select2-dropdown">
        </select>
    </div>
    <div class="col-sm-2 ml-4 mt-4">
        <button class="btn btn-primary">Filter</button>
    </div>
    <hr class="row" />
    <div class="col-sm-12 mb-3">
        <a class="btn btn-success float-right" href="@Url.Action("Create","Orders")">Create</a>
    </div>
</div>
<div class="table-responsive">
    <table id="tblOrders" class="table dt-responsive nowrap">
        <thead>
            <tr>
                <TH>ORDER ID</TH>
                <TH>DATE OF ORDER </TH>
                <TH>User Name </TH>
                <TH>EMAIL </TH>
                <TH>FUEL TYPE </TH>
                <TH>PRICE</TH>
                <TH>ORDER STATUS </TH>
                <TH>VENDOR NAME </TH>
                <TH>QUANTITY </TH>
                <TH>CREATED DATE </TH>
                <TH>MODIFIED DATE </TH>
                <TH>ACTION </TH>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts {
<script>
$('.select2-dropdown').select2({
    theme: "classic"
});
</script>
    <script src="~/JS/Jquery.min.js"></script>
    <script src="~/JS/Manage-Orders.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
}