
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="form-group row">
    <label class="col-4 pt-1 text-right">User Name:</label>
    <div class="col-8">
        <select id="ddlUserType" class="form-control">
           <select class="form-control" id="agentSubdomainId" asp-items="@(new SelectList(@ViewBag.VendorName,"ID", "FULL_NAME"))"><option value="1">-Select-</option></select>
        </select>
    </div>
</div>
</br>
<a type="button" href=/Vendors/Add class="accent-blue">Add</a>
<button type="button" onclick="ExportToExcel()"  class="accent-blue">Export</button>

<div class="table-responsive">
                    <table id="tblVendors" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                 <th>FULL_NAME </th>
                                 <th>MOBILE_NO </th>
                                 <th>EMAIL</th>
                                 <th>IMAGE_PATH </th>
                                 <th>Action </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            
<div id="editPartial"></div>

@section scripts {
    <script src="~/JS/Jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/JS/Manage-Vendors.js"></script> 
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script>
    function ExportToExcel(type, fn, dl) {
        debugger;
        var elt = document.getElementById('tblVendors');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('Report.' + (type || 'csv')));
    }
</script>

}

