@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<div class="table-responsive">
    <table id="tblFeedback" class="table dt-responsive nowrap">
        <thead>
            <tr>
                <th>ORDER_ID</th>
                <th>FEEDBACK_ID</th>
                <th>FEEDBACK_VALUE</th>
                <th>CREATED_DATE </th>
                <th>FEEDBACK_NAME </th>
                <th>ISSUE_NAME </th>
                <th>ISSUE_ID </th>
                <th>Action </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts {
    <script src="~/JS/Jquery.min.js"></script>
    <script src="~/JS/Manage-Feedback.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
}