
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header col-6">
                        <h3 class="card-title">Assets List</h3>
                    </div>
                    <div class="card-header col-6">
                        <a href='@Url.Action("CreateOrEditAsset","User")'>Add New</a>
                    </div>
                    <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table id="assetsTable" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending">Equipment Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >Is Active</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >Action</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(var data in Model)
                                            {
                                                <tr class="odd">
                                                    <td class="dtr-control sorting_1" tabindex="0">@data.EQUIPMENT_NAME</td>
                                                    @if(@data.IS_ACTIVE==true){
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    }else{
                                                        <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                                    }
                                                    <td>
                                                        <a class="btn btn-primary" asp-action="CreateOrEditAsset" asp-route-id="@data.ID"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        <a class="btn btn-primary" asp-action="DeleteAssets" asp-route-id="@data.ID"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

@section scripts {
<script>
    $('#assetsTable').DataTable();
</script>
}